@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Light.woff) format(woff);
}

@font-face {
  font-family: Gilroy-bold;
  src: url(../fonts/Gilroy-ExtraBold.otf);
  font-weight: 600;
}

body {
  font-family: Gilroy, sans-serif;
  font-weight: 400;
}


