.tasks-card {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(189, 189, 189, 0.49);
    text-align: center;
    font-size: 25px;
}

ul {
    padding: 0;
}

li {
    padding-top: 15px;
    list-style: none;
    transition-duration: 0.3s;
}

li:hover {
    transform: scale(1.5);
}

li:last-child:hover {
    color: red;
    font-family: Gilroy-bold;
    transform: scale(1.2);
}

