h1 {
  text-align: center;
  padding-top: 20px;
}

.card-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 13px;
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  height: 422px;
  padding: 20px 20px;
  box-shadow: 2px 2px 10px rgba(189, 189, 189, 0.49);
  margin: 0 auto;
}

.card__preview {
  width: 360px;
  height: 250px;
  position: relative;
}

.promo-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 0px -240px;
  border-radius: 10px;
}

.card__discount {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-family: Gilroy-bold, serif;
  background-color: #f3164e;
  padding: 7px 10px;
  border-radius: 4px;
}

.card__validation,
.card__viewes {
  position: absolute;
  top: 188px;
  background-color: #e6e7eb;
  padding: 8px 8px;
  border-radius: 4px;
}

.card__validation {
  left: 20px;
}

.card__viewes {
  right: 20px;
}

.card__viewes::before {
  content: "";
  background-image: url(./src/eye.svg);
  background-repeat: no-repeat;
  margin-right: 3px;
  vertical-align: baseline;
  width: 20px;
  height: 13px;
  display: inline-block;
}

.card__desc {
  font-size: 20px;
  font-family: Gilroy-bold, serif;
  font-weight: 400;
}

.card__adress {
  position: relative;
  margin-left: 60px;
}

.card__adress::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(./src/barb-logo.svg);
  position: absolute;
  left: -60px;
}

.card__adress--name {
  font-family: Gilroy-bold, serif;
}

.card__adress--adress {
  color: #515674;
}
