@font-face {
  font-family: "Gilroy-light";
  src: url(../../fonts/Gilroy-Light.otf);
  font-style: normal;
  font-weight: normal;
}


body {
  font-family: Gilroy-light, serif;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100%;
  color: #20264c;
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
}


.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 250px;
  padding: 24px;
  box-shadow: 1px 1px 5px lightgray;
  border-radius: 10px;
}

.card__text {
  margin-bottom: 24px;
  line-height: 150%;
  font-size: 16px;
  font-weight: 400;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__info_name {
  font-weight: bold;
}

/* добавить ховеры */