body {
  background-color: bisque;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 10px;
}

.header__nav,
.header__search {
  display: none;
}

button {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.header__button-fav {
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(./src/Heart.svg);
}

.header__button-cart {
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(./src/Shopping-cart.svg);
}

.header__button-user {
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(./src/User.svg);
}

.header__logo {
  flex-shrink: 0;
}

@media (min-width: 400px) {
  .header__button {
    gap: 15px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 15px 30px;
  }

  .header__nav {
    display: block;
  }

  .header__nav {
    display: flex;
    gap: 20px;
  }

  .header__nav--link {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
  }

  .header__nav--link::after {
    content: "";
    position: absolute;
    display: block;
    color: #c69b7b;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c69b7b;
    opacity: 0;
    transition: opacity 0.3s ease 0.1s;
  }

  .header__nav--link:hover::after {
    opacity: 1;
    width: 100%;
  }

  .header__nav--link:hover {
    color: #c69b7b;
    transition: 0.3s;
  }
}

@media (min-width: 1080px) {
  .header {
    padding: 36px 120px;
  }

  .header__button {
    gap: 24px;
  }

  .header__search {
    display: block;
  }

  #search-input {
    padding-left: 40px;
    width: 160px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }

  .header__search-wrapper {
    position: relative;
  }

  .header__search-wrapper::before {
    position: absolute;
    content: url(./src/Search.svg);
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    z-index: 2;
  }
}

@media (min-width: 1440px) {
    #search-input{
        width: 350px;
    }
}
